In [1]:
pwd

#The field beginning with In[] is called a cell. This is the place you type Unix commands or Python codes for execution.

'C:\\Users\\riyta\\MIS3320CourseData\\notebook'

In [2]:
ls
#The result will list the directories and files under the current directory.

 Volume in drive C is OS
 Volume Serial Number is B64B-072A

 Directory of C:\Users\riyta\MIS3320CourseData\notebook

02/20/2022  04:29 PM    <DIR>          .
02/20/2022  04:29 PM    <DIR>          ..
02/14/2022  02:25 AM             6,148 .DS_Store
02/20/2022  03:38 PM    <DIR>          .ipynb_checkpoints
02/20/2022  04:29 PM            12,762 M2Exercise.ipynb
02/14/2022  12:40 PM            48,443 M3exercise.ipynb
02/14/2022  12:06 PM            15,254 Module3Exercise.ipynb
02/14/2022  02:25 AM               113 README.md
02/20/2022  03:37 PM                72 Untitled.ipynb
               6 File(s)         82,792 bytes
               3 Dir(s)  30,336,753,664 bytes free

In [11]:
man ls  # this is a unix comment to display manual
#mine doesn't work some reason lol

#man ls, which shows the manual page for the ls command

SyntaxError: invalid syntax (Temp/ipykernel_4168/3812953402.py, line 1)

In [10]:
ls -F ..\Data    #Don't worry about File not found the answer is correct what is shown, even prof said so

#windows uses the \ slash versus for Mac

 Volume in drive C is OS
 Volume Serial Number is B64B-072A

 Directory of C:\Users\riyta\MIS3320CourseData\notebook


 Directory of C:\Users\riyta\MIS3320CourseData\Data

02/14/2022  02:29 AM    <DIR>          .
02/14/2022  02:29 AM    <DIR>          ..
02/14/2022  02:25 AM                 0 .gitkeep
02/14/2022  02:25 AM         2,407,517 acs_ny.csv
02/14/2022  02:25 AM            46,158 banklist.csv
02/14/2022  02:25 AM            90,190 billboard.csv
02/14/2022  02:25 AM             5,385 bladder.csv
02/14/2022  02:25 AM                56 concat_1.csv
02/14/2022  02:25 AM                56 concat_2.csv
02/14/2022  02:25 AM                64 concat_3.csv
02/14/2022  02:25 AM             5,674 country_timeseries.csv
02/14/2022  02:25 AM               311 doctors.csv
02/14/2022  02:25 AM               298 doctors_unicode.csv
02/14/2022  02:25 AM        49,439,217 epi_sim.zip
02/14/2022  02:25 AM            81,932 gapminder.tsv
02/14/2022  02:25 AM           267,845 housing.csv
02/14/2022  02:25 AM           270,670 housing_renamed.csv
02/14/2022  02:25 AM               965 pew.csv
02/14/2022  02:25 AM            11,318 raw_data_urls.txt
02/14/2022  02:25 AM               433 scientists.csv
02/14/2022  02:25 AM               122 survey_person.csv
02/14/2022  02:25 AM                74 survey_site.csv
02/14/2022  02:25 AM               391 survey_survey.csv
02/14/2022  02:25 AM               168 survey_visited.csv
02/14/2022  02:25 AM           136,637 tesla_stock_yahoo.csv
02/14/2022  02:25 AM             2,898 weather.csv
02/14/2022  02:25 AM            11,498 wine.csv
              25 File(s)     52,779,877 bytes
               2 Dir(s)  31,273,885,696 bytes free

File Not Found

In [5]:
import pandas as pd    #Import pandas library and name it pd

In [6]:
df = pd.read_csv('../data/gapminder.tsv', sep='\t')   #Load tsv data file, separated by Tab. Save the data as df

In [7]:
type(df)    #Show the object type of df, which is DataFrame here

pandas.core.frame.DataFrame

In [8]:
df   #Show data df

          country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
3     Afghanistan      Asia  1967   34.020  11537966  836.197138
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
...           ...       ...   ...      ...       ...         ...
1699     Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298

[1704 rows x 6 columns]

In [9]:
df.shape   #get the number of rows and columns

(1704, 6)

In [10]:
df.columns  #Get column names

Index(['country', 'continent', 'year', 'lifeExp', 'pop', 'gdpPercap'], dtype='object')

In [11]:
df.dtypes   #get the data type of each column

country       object
continent     object
year           int64
lifeExp      float64
pop            int64
gdpPercap    float64
dtype: object